<div class="container">
  <form  #templateVariableName="ngForm" (ngSubmit)="editProduct()">
      <div class="card">
          <div class="card-header">
                  <h3 class="card-title">Edit Product</h3>
          </div>
          <div class="card-body">
                    <!-- <input id="catName" [(ngModel)]="selCat.ID" class="form-control col-md-5" type="hidden" name="CategoryName"> -->
                     <!-- product name -->              
                  <div class="form-group">
                          <label for="catName">Product Name</label>
                          <input id="catName" [(ngModel)]="SelectedProduct.ProductName" class="form-control " type="text" name="CategoryName">
                      </div>
                        <!-- PriceBeforeDiscount -->              
                  <div class="form-group">
                    <label for="PriceBeforeDiscount">PriceBeforeDiscount</label>
                    <input id="PriceBeforeDiscount" [(ngModel)]="SelectedProduct.PriceBeforeDiscount" class="form-control " type="number" name="PriceAfterDiscount">
                </div>
                         <!-- PriceAfterDiscount -->              
                         <div class="form-group">
                          <label for="PriceAfterDiscount">PriceAfterDiscount</label>
                          <input id="PriceAfterDiscount" [(ngModel)]="SelectedProduct.PriceAfterDiscount" class="form-control " type="number" name="PriceAfterDiscount">
                      </div>
                       <!-- Discount -->              
                       <div class="form-group">
                        <label for="Discount">Discount</label>
                        <input id="Discount" [(ngModel)]="SelectedProduct.Discount" class="form-control " type="number" name="PriceAfterDiscount">
                    </div>
                       <!-- QuantityInStock -->              
                       <div class="form-group">
                        <label for="QuantityInStock">Quantity In Stock</label>
                        <input id="QuantityInStock" [(ngModel)]="SelectedProduct.QuantityInStock" class="form-control " type="number" name="PriceAfterDiscount">
                    </div>
                       <!-- ProductDiscription -->              
                       <div class="form-group">
                        <label for="ProductDiscription">ProductDiscription</label>
                        <input id="ProductDiscription" [(ngModel)]="SelectedProduct.ProductDiscription" class="form-control " type="text" name="PriceAfterDiscount">
                    </div>
                      <!-- category Picture -->
                      <div class="form-group">
                              <label for="catPicture">category picture</label>
                              <input id="catPicture" [(ngModel)]="SelectedProduct.Picture" class="form-control " type="text" name="Picture">
                      </div>
                      <div class="card-footer">
                              <div class="row">
                              
                          <div class="col">
                                  <input value="Edit" type="submit" class="btn btn-primary form-control" >       
                          </div>
                          <div class="col">
                                  <input class="form-control btn btn-danger" type="button" name=""value="Back to list" (click)="goback()">
                          </div>
                          
                  </div>
                    
          </div>
          </div>
      </div>
      </form>
      </div>
      